# composer related stuff
/vendor/
/composer.lock
/bin/composer.phar

# temporary or local configuration stuff
/*/cache/*
/*/local.*

# logfiles
*.log

# general os, thumbs and editors related stuff
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
*.sublime-project
*.sublime-workspace
.bundle/
*.tmp
*.bak
*.swp
*~.nib
.class
.classpath
.settings/
.loadpath
.project
.metadata
*.launch
.buildpath
.cproject
.externalToolBuilders/
.plugins/
*.pydevproject
nbproject/
*.tmproj
.netrwhist
svn-commit.tmp
.*.rej
*.rej
*.orig
.*~
._*
*~
